<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olukoye.hannah.planmywedding">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMhsG8Q5wqxkhl1GT8D14Ygs0Ae6ZaSWE"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".w_venue.WeddingVenue" />
        <activity android:name=".w_gifts.WeddingGifts" />
        <activity android:name=".w_theme.WeddingTheme" />
        <activity android:name=".w_guests.WeddingGuests" />
        <activity android:name=".w_guests.GuestDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>